<div class="p-d-flex">
  <div class="p-col-7 p-p-0">
    <div class="bg-login p-m-2" *ngIf="isSignIn"></div>
    <div class="bg-forgot_password p-mb-0 p-mt-2 p-mx-2" *ngIf="isForgotPassword || isResetPassword"></div>
    <app-header></app-header>
  </div>
  <div class="p-col form-div__container p-d-flex p-flex-column p-jc-between">
    <p *ngIf="isForgotPassword" class="text-default p-text-left p-d-inline p-pl-4 p-pt-4 hover_state cursor" (click)="back()"><i class="pi pi-chevron-left" style="font-size: .7rem"></i> Go back</p>
    <div class="p-my-auto">
      <div class="p-mx-auto" style="width: 350px">
        <ng-container *ngIf="isSignIn">
          <h1 class="p-mb-1 text-default">Welcome Back</h1>
          <p class="p-text-secondary p-small p-mt-0 p-mx-1 p-mb-4 secondary-text">Sign in with your email or phone number to continue</p>
        </ng-container>
        <ng-container *ngIf="isForgotPassword">
          <h1 class="p-mb-1 text-default">Forgot Password?</h1>
          <p class="p-text-secondary p-small p-mt-0 p-mx-1 p-mb-4 secondary-text">Enter the email address or Phone number associated with your account</p>
        </ng-container>
        <ng-container *ngIf="resetForm">
          <h1 class="p-mb-1 text-default">Reset Password</h1>
          <p class="p-text-secondary p-small p-mt-0 p-mx-1 p-mb-4 secondary-text">Set your new password</p>
        </ng-container>
        <app-login-form *ngIf="isSignIn" (forgotPassword)="changeAuthStateToForgotPassword($event)"></app-login-form>
        <app-forgot-password *ngIf="isForgotPassword"></app-forgot-password>
        <app-reset-password *ngIf="isResetPassword" (isResetDone)="resetDone($event)" (backToSignIn)="changeAuthStateToSignIn($event)"></app-reset-password>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
