<div class="p-grid">
  <div class="p-col-7 p-pr-0">
    <div class="bg-login p-mb-0 p-mt-2 p-mx-2"></div>
  </div>
  <div class="p-col form-div__container p-d-flex p-flex-column p-px-5 p-py-3 p-jc-center p-ai-center">
    <div class="container p-xl-8 py-5">
      <div class="p-mx-auto">
        <h1 class="p-mb-1 text-default">Welcome Back</h1>
        <p class="p-text-secondary p-small p-mt-0 p-mx-1 p-mb-4 secondary-text">Sign in with your email or phone number to continue</p>
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
