.bg-login {
  background-image: url('../../../assets/img/side@2x.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-div__container {
  max-height: 100vh;
  overflow-y: auto;
}
