.container {
  display: flex;
  flex-direction: column;

  h5 {
    font-size: 20px;
    font-weight: 500;
  }

  .body {
    background: #F5F4F0;
    min-height: 87.5vh;
    overflow-y: auto;

    button {
      background-color: #CCA43C;
      color: #FFFFFF;
    }
  }

  p {
    font-size: 14px;
  }
}

:host ::ng-deep .p-toolbar {
  background: #fff;
  border-radius: 1px;
  height: 50px;
  flex-wrap: nowrap;
  border-top: none;
}

:host ::ng-deep .p-inputtext-sm.p-inputtext {
  font-size: 0.8rem;
  background: #FBF8EF;
  border: 1px solid #CCA43C;
  width: 217px
}

:host ::ng-deep .p-input-icon-right > i:last-of-type {
  color: #CCA43C;
}

:host ::ng-deep .p-inputtext-sm .p-inputtext {
  font-size: 0.8rem;
}

:host ::ng-deep .p-dropdown {
  background: #FBF8EF;
  border: 1px solid #CCA43C;
}

:host ::ng-deep .p-button {
  background: #FBF8EF;
  border: 1px solid #CCA43C;
  font-size: 12px;
}

:host ::ng-deep .p-button:hover {
  background: #CCA43C;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 0.8rem;
}

:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}

p {
  font-size: 14px;
}

label {
  font-size: 12px;
}

:host ::ng-deep .p-field-checkbox {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
  justify-content: center;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #CCA43C;
  background: #CCA43C;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #A3ABB7;
}

:host ::ng-deep .p-fluid {

  .p-multiselect {
    font-size: 12px;
  }
  .p-multiselect-item {
    font-size: 12px;
  }
}

.info-label {
  font-size: 12px
}

.content {
  border: 1px solid #00053A27;
  padding: 40px;
  border-radius: 4px;

  label {
    color: #94A1A5
  }

  button {
    background-color: #CCA43C;
  }
}

:host ::ng-deep .p-button.p-button-text {
  background-color: transparent !important;
  color: #605D71 !important;
  border-color: transparent !important;
}

:host ::ng-deep .p-button.p-button-danger {
  background-color: #FA235D !important;
  color: #fff !important;
  border: 1px solid #FA235D !important;
}

:host ::ng-deep .p-inputtext-lg .p-inputtext {
  font-size: 0.9rem;
}

:host ::ng-deep .p-inputtext {
  font-size: 0.9rem;
}

:host ::ng-deep .p-dropdown-item {
  font-size: 0.9rem;
}

:host ::ng-deep .p-contextmenu {
  background: #000000;
  color: #747479;
  font-size: 0.9rem;
}

:host ::ng-deep .p-contextmenu .p-menuitem-link .p-menuitem-text {
  color: #747479;
  font-size: 0.9rem;
}

:host ::ng-deep .p-contextmenu .p-menuitem-link .p-menuitem-icon {
  color: #747479;
  font-size: 0.9rem;
}

:host ::ng-deep .p-contextmenu .p-menuitem-link:not(.p-disabled):hover {
  background-color: rgba(60,64,67,.04);
}

:host ::ng-deep .p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: transparent;
}


