<p-toast></p-toast>
<ng-container>
  <app-portal-nav></app-portal-nav>
  <app-portal-menu></app-portal-menu>
</ng-container>
<div class="container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <i class="pi pi-caret-left p-mr-2 p-p-2 cursor" style="color: #171102; background: #97A3A7;" routerLink="/portal/metadata"></i>
      <h5>{{displayTag}} <span class="p-ml-2">| {{data.length}} Total item(s)</span></h5>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-input-icon-right p-mr-2">
      <i class="pi pi-search"></i>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="Search user management" />
    </span>
      <p-dropdown class="p-inputtext-sm p-mr-2" placeholder="Filter by user type" optionLabel="name" [showClear]="true"></p-dropdown>
      <p-splitButton class="p-mr-3" label="Download user list"></p-splitButton>
      <p style="font-size: 0.7rem">Showing 1-20 of 48  <i class="pi pi-chevron-left p-mx-3" style="font-size: 0.7rem"></i> <i class="pi pi-chevron-right" style="font-size: 0.7rem"></i></p>
    </div>
  </p-toolbar>
  <div class="body p-d-flex p-flex-column">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-end p-my-3 p-mx-3">
      <button pButton pRipple label="Add new value" class="p-mr-2" icon="pi pi-plus-circle" iconPos="left" (click)="showModal()"></button>
    </div>
    <p-contextMenu #contextMenu [model]="items"></p-contextMenu>
    <p-table [value]="data" [resizableColumns]="true" styleClass="p-datatable-lg" [(contextMenuSelection)]="selectedItem" [contextMenu]="contextMenu" dataKey="code" *ngIf="data.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Value</th>
          <th>Action Item</th>
          <th *ngIf="tag === 'INVENTORY_MAINTENANCE_METRIC'">Unit Measurements</th>
          <th>Date Created</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr [pContextMenuRow]="item" (contextmenu)="getSelectedData(item, rowIndex)">
          <td>{{item.id ? item.id : "-"}}</td>
          <td>{{item.value ? item.value : "-"}}</td>
          <td>{{item.createdOn ? (item.createdOn | date: 'h:mm a, MMM d, y') : "-" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!--------- Create & Edit Equipment Group -------------->
<p-dialog header="{{editMode ? 'Edit Value': 'Create Value'}}" [(visible)]="displayModal" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <div class="p-d-flex p-flex-column p-mt-5">
    <form #groupForm="ngForm">
      <div class="p-fluid">
        <div class="p-field">
          <span class="p-float-label">
            <input type="text" name="roleName" id="role_name" pInputText [(ngModel)]="groupModel.name" required>
            <label for="role_name">Value name</label>
          </span>
        </div>
        <div class="p-field p-grid" *ngIf="tag === 'INVENTORY_MAINTENANCE_METRIC'">
          <div class="p-field p-md-6">
            <p-dropdown id="measurement" class="p-inputtext-sm" placeholder="Select a unit of measurement" [options]="units" [autoDisplayFirst]="false" name="measurements" optionLabel="label" optionValue="value" [showClear]="true" required></p-dropdown>
          </div>
          <div class="p-field p-md-6">
            <p-dropdown id="designation" class="p-inputtext-sm" placeholder="Select value input type" [options]="inputTypes" [autoDisplayFirst]="false" name="measurements" optionLabel="label" optionValue="value" [showClear]="true" required></p-dropdown>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <div class="p-field-checkbox" *ngIf="!editMode">
      <p-checkbox id="binary" name="checkbox" [(ngModel)]="createAnother" binary="true" inputId="binary"></p-checkbox>
      <label for="binary">Add Another</label>
    </div>
    <button pButton type="button" class="p-button-lg default__button" label="{{editMode ? 'Save Changes' : 'Add This Value'}}" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="isLoading || groupForm.invalid" (click)="editMode ? update() : create(groupForm)"></button>
  </ng-template>

</p-dialog>


<!--------- Delete Equipment ----------->
<p-dialog header="Delete Role" [(visible)]="displayDeleteModal" [style]="{width: '30vw'}" [baseZIndex]="10000">
  <div class="p-d-flex p-flex-column">
    <div class="p-fluid">
      <div class="p-field">
        <p style="color: #605D71">You are about to delete the role {{groupModel.value}}. Add a delete reason.</p>
      </div>
      <div class="p-field p-mt-5">
        <span class="p-float-label">
            <textarea name="description" rows="5" cols="30" pInputTextarea ></textarea>
             <label for="role_name">Delete Reason</label>
          </span>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple class="p-button-danger" icon="pi pi-check" label="Delete" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="isLoading" (click)="delete()"></button>
    <button pButton pRipple type="button" (click)="displayDeleteModal = false" label="Cancel" class="p-button-text p-button-plain"></button>
  </ng-template>
</p-dialog>
