:host ::ng-deep .p-password {
  height: 39px;
}

:host ::ng-deep .p-inputtext {
  font-size: 0.9rem;
  font-weight: normal;
}

:host ::ng-deep .p-button {
  background: #CCA43C;
  border: 1px solid transparent;
  color: #ffffff;
  height: 39px;
}

:host ::ng-deep .p-button:hover {
  background: #CCA43C;
  border: 1px solid transparent;
  color: #ffffff;
}

:host ::ng-deep .p-button:focus {
  background: #CCA43C;
  border: 1px solid transparent;
  color: #ffffff;
}

:host ::ng-deep .p-button-label {
  font-size: 12px;
}
