<div class="p-fluid" *ngIf="isResetSuccessful">
  <div class="p-field p-text-center">
    <img src="assets/img/Group%203219.svg" height="80" width="81">
  </div>
  <h3 class="p-mb-5 text-default p-text-center">Password changed successfully</h3>
  <button *ngIf="isResetSuccessful" pButton label="Back to Sign in" class="p-button-lg p-mt-2" (click)="navigate()"></button>
</div>

<form #resetPassword="ngForm" *ngIf="!isResetSuccessful">
  <div class="p-fluid p-mt-5">
    <div class="p-field p-mb-5">
      <span class="p-float-label">
        <p-password id="password" [(ngModel)]="auth.newPassword" #passwordInput="ngModel" name="password" [ngModelOptions]="{standalone: true}" [toggleMask]="true" placeholder="Password" required>
        <ng-template pTemplate="header">
            <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="p-mt-2">Suggestions</p>
            <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
            </ul>
        </ng-template>
    </p-password>
      </span>
    </div>

    <div class="p-field p-mt-0 p-mb-3">
      <button *ngIf="!isResetSuccessful" pButton label="Reset Password" class="p-button-lg" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="isLoading || passwordInput.invalid" (click)="updatePassword()"></button>
    </div>
  </div>
</form>

