<p-toast></p-toast>
<ng-container>
  <app-portal-nav></app-portal-nav>
  <app-portal-menu></app-portal-menu>
</ng-container>

<div class="container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <h5>Inventory <span class="p-ml-2">| 0 Equipment(s)</span></h5>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-input-icon-right p-mr-2">
      <i class="pi pi-search"></i>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="Search using equipment name" [(ngModel)]="value3" />
    </span>
      <p-dropdown [options]="filterOptions" class="p-inputtext-sm p-mr-2" [(ngModel)]="selectedFilter" placeholder="Filter by user type" optionLabel="name" [showClear]="true"></p-dropdown>
      <p-splitButton class="p-mr-3" label="Download user list" [model]="filterOptions"></p-splitButton>
      <p style="font-size: 0.7rem">Showing 1-20 of 48  <i class="pi pi-chevron-left p-mx-3" style="font-size: 0.7rem"></i> <i class="pi pi-chevron-right" style="font-size: 0.7rem"></i></p>
    </div>
  </p-toolbar>
  <div class="body p-d-flex p-flex-column">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-end p-my-3 p-mx-3">
      <button pButton pRipple label="Add Equipment" class="p-mr-2" icon="pi pi-plus-circle" iconPos="left" routerLink="/portal/manage-equipment"></button>
    </div>
    <div class="card">
      <p-tabView>
        <p-tabPanel header="Inventory">
          <p-contextMenu #cm [model]="items"></p-contextMenu>
          <p-table [resizableColumns]="true" styleClass="p-datatable-lg" dataKey="code">
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn>#</th>
                <th pResizableColumn>Item Id</th>
                <th pResizableColumn>Equipment Name</th>
                <th pResizableColumn>Equipment Type</th>
                <th pResizableColumn>Equipment Group</th>
                <th pResizableColumn>Location</th>
                <th pResizableColumn>Quantity Left</th>
                <th pResizableColumn>Purchase Date</th>
                <th pResizableColumn>Date Created</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.equipmentName}}</td>
                <td>
                  <p-tag value="{{item.equipmentType}}"></p-tag>
                </td>
                <td>{{item.equipmentGroup}}</td>
                <td>{{item.location}}</td>
                <td>{{item.quantityAcquired}}</td>
                <td>{{item.purchaseDate | date: 'MMM d, yyyy'}}</td>
                <td>{{item.createdOn | date: 'h:mm a, MMM d, y'}}</td>
              </tr>
            </ng-template>
          </p-table>

        </p-tabPanel>
        <p-tabPanel header="Approval Request">
          <p-contextMenu #cm [model]="items"></p-contextMenu>
          <p-table [resizableColumns]="true" styleClass="p-datatable-lg" dataKey="code">
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn>#</th>
                <th pResizableColumn>Item Id</th>
                <th pResizableColumn>Equipment Name</th>
                <th pResizableColumn>Equipment Type</th>
                <th pResizableColumn>Equipment Group</th>
                <th pResizableColumn>Location</th>
                <th pResizableColumn>Quantity Left</th>
                <th pResizableColumn>Purchase Date</th>
                <th pResizableColumn>Date Created</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.equipmentName}}</td>
                <td>
                  <p-tag value="{{item.equipmentType}}"></p-tag>
                </td>
                <td>{{item.equipmentGroup}}</td>
                <td>{{item.location}}</td>
                <td>{{item.quantityAcquired}}</td>
                <td>{{item.purchaseDate | date: 'MMM d, yyyy'}}</td>
                <td>{{item.createdOn | date: 'h:mm a, MMM d, y'}}</td>
              </tr>
            </ng-template>
          </p-table>

        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

