h1 {
  font-size: 50px;
  font-weight: 900;
}

h5 {
  font-size: 22px;
  color: #97A3A7;
}

.content {
  width: 719px;
  text-align: center;
}

p {
  font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
