<div class="p-d-flex p-flex-column p-jc-center p-ai-center" style="height: 100vh;">
  <app-header></app-header>
  <div class="p-my-auto content">
    <h1 class="p-mb-3">Check your inbox</h1>
    <h5 class="p-mt-0 p-mb-0">daaluchukwu@gmail.com</h5>
    <p class="secondary-color" style="height: 193px">A password reset link has been sent to the email address above. Please click the password reset link to set new password.</p>
    <p>Not your email?</p>
    <p pRipple class="primary-text cursor">Enter different email</p>
  </div>

  <div class="p-d-flex">
    <div>
      <p>Need help? <span>Contact support</span></p>
    </div>
    <div class="p-text-right">
      <p class="text-grey">Privacy | <span>Terms</span></p>
    </div>
  </div>
</div>
