<ng-container>
  <p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>

  <div class="p-fluid p-mt-5">
    <div class="p-field p-mb-5" *ngIf="value1 === 'off'">
        <span class="p-float-label">
            <input type="text" id="email_address" pInputText [(ngModel)]="inputValue">
            <label for="email_address">Email Address</label>
        </span>
    </div>

    <div class="p-field p-grid p-mt-0 p-mb-2" *ngIf="value1 ==='on'">
      <div class="p-field p-md-4">
        <p-dropdown placeholder="Country Code" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="p-field p-md-8">
        <span class="p-float-label">
            <input type="number" id="phone_number" pInputText [(ngModel)]="inputValue">
            <label for="phone_number">Phone Number</label>
        </span>
      </div>
    </div>

    <div class="p-field p-mt-5 p-mb-3">
      <p-button label="Reset Password" class="forgot-password" icon="pi pi-spin pi-spinner" iconPos="right"></p-button>
    </div>

  </div>
</ng-container>
