.secondary-text {
  color: #CCA43C;
}

p {
  font-size: 12px;
}

label {
  font-size: 14px;
}

:host ::ng-deep .p-selectbutton {
  height: 39px;
}

:host ::ng-deep .p-dropdown {
  height: 39px;
}

:host ::ng-deep .p-float-label {
  color: #CCA43C;
}

:host ::ng-deep .p-button-label {
  font-size: 12px;
}

:host ::ng-deep .p-button:focus {
  box-shadow: 0 0 0 0.1rem transparent;

}

:host ::ng-deep .p-selectbutton .p-button {
  background: #ffffff;
  color: #495057;
  border: 1px solid #D7DBDD;
}


:host ::ng-deep .p-selectbutton .p-button.p-highlight {
  background: #CCA43C;
  border-color: #CCA43C;
  color: #ffffff;
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight:focus {
  background: #CCA43C;
  border-color: #CCA43C;
  color: #ffffff;
}

:host ::ng-deep .p-button {
  background: #CCA43C;
  border: 1px solid transparent;
  color: #ffffff;
  height: 39px;
}

:host ::ng-deep .p-button:hover {
  background: #CCA43C;
  border: 1px solid transparent;
  color: #ffffff;
}

:host ::ng-deep .p-button:focus {
  background: #CCA43C;
  border: 1px solid transparent;
  color: #ffffff;
}

:host ::ng-deep .p-dropdown-label {
  font-size: 14px;
}

:host ::ng-deep .p-password {
  height: 39px;
}

:host ::ng-deep .p-inputtext {
  font-size: 0.9rem;
  font-weight: normal;
}
