<p-toast></p-toast>
<ng-container>
  <div class="p-fluid">
    <p-selectButton class="p-button-lg" [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>
  </div>

  <div class="p-fluid" *ngIf="isPasswordReset">
    <h3 class="p-mb-3 text-default p-text-center">Password changed successfully</h3>
    <div class="p-field p-text-center">
      <img src="assets/img/Group%203219.svg" height="80" width="81">
    </div>
  </div>

  <div class="p-fluid p-mt-5" *ngIf="isPasswordReset">
    <div class="p-field p-mb-5">
      <span class="p-float-label">
        <p-password id="password" [toggleMask]="true" placeholder="Password">
        <ng-template pTemplate="header">
            <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="p-mt-2">Suggestions</p>
            <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
            </ul>
        </ng-template>
    </p-password>
      </span>
    </div>
  </div>

  <form (ngSubmit)="sendPasswordReset()" #forgotPassword="ngForm">
    <div class="p-fluid p-mt-5">
      <div class="p-field p-mb-5" *ngIf="value1 === 'off'">
        <span class="p-float-label">
            <input class="p-inputtext-lg" #email="ngModel" type="text" name="email-address" id="email_address" pInputText [(ngModel)]="user.email" required>
            <label for="email_address">Email Address</label>
        </span>
        <small id="email_address-help" class="p-error" *ngIf="email.invalid && (email.dirty || email.touched)">Email Address is not available.</small>
      </div>

      <div class="p-field p-grid p-mt-0 p-mb-2" *ngIf="value1 ==='on'">
        <div class="p-field p-md-4">
        <span class="p-float-label">
          <p-dropdown id="country_code" [autoDisplayFirst]="false" name="country_code" optionLabel="country" #code="ngModel" [options]="countryCode" optionValue="callingCode" [showClear]="true" [(ngModel)]="user.countryCode" required></p-dropdown>
          <label for="country_code">Country Code</label>
        </span>
          <small id="country_code-help" class="p-error" *ngIf="code.invalid && (code.dirty || code.touched)">Country code is not available.</small>
        </div>
        <div class="p-field p-md-8">
        <span class="p-float-label">
            <input class="p-inputtext-lg" type="tel" name="phone_number" id="phone_number" #phone="ngModel" pInputText [(ngModel)]="user.phoneNumber" required>
            <label for="phone_number">Phone Number</label>
        </span>
          <small id="phone_number-help" class="p-error" *ngIf="phone.invalid && (phone.dirty || phone.touched)">Phone number is not available.</small>
        </div>
      </div>

      <div class="p-field p-mt-0 p-mb-3">
        <button pButton label="Reset Password" class="p-button-lg" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="isLoading || forgotPassword.invalid"></button>
      </div>

    </div>
  </form>

</ng-container>
