<p-toast></p-toast>

  <ng-container>
    <div class="p-fluid">
      <p-selectButton class="p-button-lg" [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value" [ngModelOptions]="{standalone: true}"></p-selectButton>
    </div>

    <form (ngSubmit)="loginUser()" #loginForm="ngForm">

    <div class="p-fluid p-mt-5">
      <div class="p-field p-mb-5" *ngIf="value1 === 'off'">
        <span class="p-float-label">
          <input class="p-inputtext-lg ng-invalid" #email="ngModel" type="text" name="email" id="email_address" pInputText [(ngModel)]="user.email" required>
          <label for="email_address">Email Address</label>
        </span>
        <small id="email_address-help" class="p-error" *ngIf="email.invalid && (email.dirty || email.touched)">Email Address is not available.</small>
      </div>

      <div class="p-field p-grid p-mt-0 p-mb-2" *ngIf="value1 ==='on'">
        <div class="p-field p-md-4">
          <span class="p-float-label">
            <p-dropdown id="country_code" [autoDisplayFirst]="false" #code="ngModel" name="country-code" optionValue="callingCode" [options]="countryCode" optionLabel="country" [(ngModel)]="user.countryCode" [showClear]="true" required></p-dropdown>
            <label for="country_code">Country Code</label>
          </span>
          <small id="country_code-help" class="p-error" *ngIf="code.invalid && (code.dirty || code.touched)">Country code is not available.</small>
        </div>
        <div class="p-field p-md-8">
        <span class="p-float-label">
          <input name="phone" class="p-inputtext-lg" #phone="ngModel" type="tel" id="phone_number" pInputText [(ngModel)]="user.phoneNumber" required>
          <label for="phone_number">Phone Number</label>
        </span>
          <small id="phone_number-help" class="p-error" *ngIf="phone.invalid && (phone.dirty || phone.touched)">Phone number is not available.</small>
        </div>
      </div>

      <div class="p-field">
      <span class="p-float-label p-input-icon-right">
        <i class="pi pi-eye" *ngIf="!showPassword" (click)="showPassword = !showPassword"></i>
        <i class="pi pi-eye-slash" *ngIf="showPassword" (click)="showPassword = !showPassword"></i>
        <input name="password" class="p-inputtext-lg" #password="ngModel" [type]="showPassword ? 'text': 'password'" id="password" pInputText [(ngModel)]="user.password" required>
        <label for="password">Password</label>
      </span>
        <small id="password-help" class="p-error" *ngIf="password.invalid && (password.dirty || password.touched)">Password is not available.</small>
        <p class="secondary-text p-mt-2 p-text-left cursor" (click)="resetPassword()">Forgot Password?</p>
      </div>


      <div class="p-field p-mt-5 p-mb-3">
        <button type="submit" pButton label="Sign In" class="p-button-lg" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="isLoading || loginForm.invalid"></button>
      </div>
      <p class="text-default p-text-left p-d-inline">Trouble signing in?
        <span class="primary-text p-ml-1 cursor">Contact support</span>
      </p>
    </div>
    </form>
  </ng-container>


