/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/color_variables";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
$enable-responsive-font-sizes: true;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Mulish, sans-serif;
  overflow-x: hidden;
}

.content {
  border: 1px solid #00053A27;
  padding: 40px;
  border-radius: 4px;
}

.text-default {
  color: $primary-black;
}

.cursor {
  cursor: pointer;
}


.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $dark-color;
}

.text-grey {
  color: $light-grey
}

.secondary-color {
  color: $secondary-color
}

.container {
  transition: 0.5s ease;
  opacity: 1;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;

  h5 {
    font-size: 20px;
    font-weight: 500;

    span {
      color: #94A1A5;
      font-weight: 300;
      font-size: 12px;
    }
  }

  .body {
    background: #F5F4F0;
    min-height: 87.5vh;
    overflow-y: auto;
  }

  p {
    font-size: 14px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 50%;
  margin-left: -65px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



