<p-toast></p-toast>
<ng-container *ngIf="users">
  <app-portal-nav></app-portal-nav>
  <app-portal-menu></app-portal-menu>
</ng-container>

<div class="container" *ngIf="users">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <h5>User Management</h5>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-input-icon-right p-mr-2">
      <i class="pi pi-search"></i>
      <input type="text" class="p-inputtext-sm" pInputText placeholder="Search user management" [(ngModel)]="value3" />
    </span>
      <p-dropdown [options]="filterOptions" class="p-inputtext-sm p-mr-2" [(ngModel)]="selectedFilter" placeholder="Filter by user type" optionLabel="name" [showClear]="true"></p-dropdown>
      <p-splitButton class="p-mr-3" label="Download user list" [model]="filterOptions"></p-splitButton>
      <p style="font-size: 0.7rem">Showing 1-20 of 48  <i class="pi pi-chevron-left p-mx-3" style="font-size: 0.7rem"></i> <i class="pi pi-chevron-right" style="font-size: 0.7rem"></i></p>
    </div>
  </p-toolbar>
  <div class="body p-d-flex p-flex-column">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-end p-my-3 p-mx-3">
      <p-button label="Bulk upload Users" class="p-mr-2" icon="pi pi-users" iconPos="left"></p-button>
      <p-selectButton [options]="layoutOptions" [(ngModel)]="layout" optionLabel="icon" optionValue="value">
        <ng-template let-item>
          <i [class]="item.icon"></i>
        </ng-template>
      </p-selectButton>
    </div>

   <!---- LiSTITEM ------->
    <p-contextMenu #cm [model]="items"></p-contextMenu>
    <p-table [value]="users" [resizableColumns]="true" *ngIf="layout === 'list'" styleClass="p-datatable-lg" [(contextMenuSelection)]="selectedUser" [contextMenu]="cm" dataKey="code">
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn>#</th>
          <th pResizableColumn></th>
          <th pResizableColumn>Full Name</th>
          <th pResizableColumn>Email</th>
          <th pResizableColumn>Phone Number</th>
          <th pResizableColumn>Role</th>
          <th pResizableColumn>Fallback Role</th>
          <th pResizableColumn>Duration</th>
          <th pResizableColumn>Date created</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
        <tr [pContextMenuRow]="user" (contextmenu)="getSelectedUser(user, rowIndex)">
          <td>{{user.id}}</td>
          <td>
            <p-avatar
              icon="pi pi-user"
              styleClass=""
              size="small"
              shape="circle"
            ></p-avatar>
          </td>
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>
            <p-tag value="{{user.role.name ? user.role.name : 'Others'}}"></p-tag>
          </td>
          <td>
            <p-tag class="tag" value="{{user.tempRole ? 'Verified' : 'Not Verified'}}"></p-tag>
          </td>
          <td>
            {{user.duration ? user.duration : '-'}}
          </td>
          <td>
            {{user.createdOn | date: 'h:mm a, MMM d, y'}}
          </td>


      </ng-template>

    </p-table>

    <!------- GRIDITEM -------->
    <div class="p-d-flex p-flex-column p-flex-md-row p-flex-md-wrap" *ngIf="layout === 'grid'">
      <ng-container>
        <div class="p-col-12 p-md-3">
          <div class="user-grid-item default__card p-ml-2 p-mr-2 create__card" (click)="showCreateDialog()">
            <div class="p-d-flex p-flex-column p-ai-center p-jc-center">
              <div class="p-mt-6">
                <p-avatar image="assets/img/Group4419.svg" size="xlarge"></p-avatar>
              </div>
              <p class="p-mb-4">Create User</p>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="users">
        <div class="p-col-12 p-md-3" *ngFor="let user of users; let i = index">
          <div class="user-grid-item default__card p-ml-2 p-mr-2">
            <i class="pi pi-ellipsis-h" style="float: right" (click)="menu.toggle($event); getSelectedUser(user, i)"></i>
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
            <div class="p-d-flex p-flex-column p-ai-center p-jc-center">
              <div class="p-my-auto">
                <p-avatar
                  icon="pi pi-user"
                  styleClass=""
                  size="xlarge"
                  shape="circle"
                ></p-avatar>
              </div>
              <p class="p-mb-0"><strong>{{user.fullName}}</strong></p>
              <p class="text-email p-mb-3">{{user.email}}</p>
              <p-tag value="{{user.role.name ? user.role.name : 'Others'}}"></p-tag>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>


<!--------- Create a User Modal---------->
<p-dialog header="Create User" [(visible)]="displayCreateModal" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="true">
  <div class="p-d-flex p-flex-column">
    <label class="info-label">USER INFORMATION</label>
    <div class="content p-mt-2">
      <form (ngSubmit)="create(createUserForm)" #createUserForm="ngForm">
        <div class="p-fluid">
          <div class="p-field p-mb-5">
            <label for="fullName">Full Name</label>
            <input id="fullName" #fullName="ngModel" type="text" placeholder="Tecon Plus" name="fullname" aria-describedby="firstname-help" pInputText [(ngModel)]="createUserModel.fullName" required/>
            <small id="full_name-help" class="p-error" *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">Email Address is not valid.</small>
          </div>
          <div class="p-field p-grid">
            <div class="p-field p-md-6 p-mb-5">
              <label for="email_address">Email Address</label>
              <input #email="ngModel" type="text" placeholder="info@teconplus.com" name="email" id="email_address" pInputText [(ngModel)]="createUserModel.email"
                     pattern="(?![_.-])((?![_.-][_.-])[a-z\d_.-]){0,63}[a-z\d]@(?!-)((?!--)[a-z\d-]){0,63}[a-z\d]\.(((?!-)((?!--)[a-z\d-]){0,63}[a-z\d]\.)|)(([a-z]{2,14}\.)|)[a-z]{2,14}" required>
              <small id="email_address-help" class="p-error" *ngIf="email.invalid && (email.dirty || email.touched)">Email Address is not valid.</small>
            </div>
            <div class="p-field p-md-6 p-mb-3">
              <label for="newPhone">Phone Number</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">+123</span>
                <input id="newPhone" type="tel" placeholder="080 333 555 66" name="phone" aria-describedby="firstname-help" pInputText [(ngModel)]="createUserModel.phoneNumber" />
              </div>
            </div>

          </div>
          <div class="p-field p-grid">
            <div class="p-field p-md-6">
              <label for="select_role">Select Role</label>
              <p-dropdown id="select_role" [options]="roles" name="select_role" [autoDisplayFirst]="false" optionValue="id" [(ngModel)]="createUserModel.role" optionLabel="name" [showClear]="true" required></p-dropdown>
            </div>
            <div class="p-field p-md-6">
              <label for="designation">Select Designation</label>
              <p-dropdown id="designation" [autoDisplayFirst]="false" name="tempRoles"  optionLabel="tempRoles" [showClear]="true" required></p-dropdown>
            </div>
          </div>
          <div class="p-field p-grid">
            <div class="p-field p-md-8">
              <p class="p-mt-1">Make this role time bound</p>
            </div>
            <div class="p-field p-md-4">
              <p-inputSwitch name="switch" (onChange)="switch($event)" [(ngModel)]="createUserModel.tempRole" styleClass="p-inputtext-sm"></p-inputSwitch>
            </div>
          </div>

          <ng-container *ngIf="createUserModel.tempRole">
            <p class="p-mb-3">Set a duration this role should last</p>

            <div class="p-field p-grid">
              <div class="p-field p-md-6">
                <label for="range">Set Duration</label>
                <p-calendar id="range" [(ngModel)]="rangeDates" name="range" selectionMode="range" [readonlyInput]="true" [showIcon]="true" inputId="range"></p-calendar>
              </div>
              <div class="p-field p-md-6">
                <label for="fallback_role">Select a Fallback Role</label>
                <p-dropdown id="fallback_role" [options]="roles" name="fallback_role" [autoDisplayFirst]="false" optionValue="name" [(ngModel)]="createUserModel.defaultRole" optionLabel="name" [showClear]="true" required></p-dropdown>
              </div>
            </div>

          </ng-container>
        </div>

      </form>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="p-field-checkbox">
      <p-checkbox id="binary" name="checkbox" [(ngModel)]="createAnother" binary="true" inputId="binary"></p-checkbox>
      <label for="binary">Create Another</label>
    </div>
    <p-button (click)="create(createUserForm)" styleClass="p-button-lg" label="Create User" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="isLoading || createUserForm.invalid"></p-button>
  </ng-template>
</p-dialog>


<!------- Deactivate User Modal--------->
<p-dialog header="Deactivate User?" [(visible)]="deactivateModal" [style]="{width: '30vw'}" [baseZIndex]="10000">
  <div class="p-d-flex p-flex-column">
    <div class="p-as-center">
      <p-avatar
        icon="pi pi-user"
        styleClass=""
        size="xlarge"
        shape="circle"
      ></p-avatar>
    </div>
  </div>
  <p class="p-as-center" style="color: #605D71">Your are about to deactivate <strong>{{selectedUser.fullName}}</strong> as a user on this company. Are you sure you want to continue?</p>
  <ng-template pTemplate="footer">
    <button pButton pRipple class="p-button-danger" icon="pi pi-check" (click)="deactivate(selectedUser.id)" label="Deactivate" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="isLoading"></button>
    <button pButton pRipple type="button" (click)="deactivateModal = false" label="Cancel" class="p-button-text p-button-plain"></button>
  </ng-template>
</p-dialog>


<!----------- View and Edit User modal -------------->
<p-dialog header="{{editMode ? 'Edit User Info': 'User Details'}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <span class="time-description"><strong>Date created</strong>  {{selectedUser.createdOn | date }}</span>
  <div class="p-d-flex p-flex-column">
    <div class="p-as-center p-mb-5">
      <p-avatar
        icon="pi pi-user"
        styleClass=""
        size="xlarge"
        shape="circle"
      ></p-avatar>
    </div>
    <label class="info-label">USER INFORMATION</label>
    <div class="content p-mt-2">
      <div class="p-fluid">
        <div class="p-field p-grid">
          <div class="p-field p-md-12">
            <label for="firstName1">Full Name</label>
            <p *ngIf="!editMode">{{selectedUser.fullName}}</p>
            <input *ngIf="editMode" id="firstName1" name="fullname" type="text" aria-describedby="firstname-help" pInputText [(ngModel)]="selectedUser.fullName" />
          </div>
        </div>
        <div class="p-field p-grid">
          <div class="p-field p-md-6">
            <label for="phone1">Phone Number</label>
            <p *ngIf="!editMode">{{selectedUser.phoneNumber}}</p>
            <div class="p-inputgroup" *ngIf="editMode">
              <span class="p-inputgroup-addon">+123</span>
              <input id="phone1" name="phone" type="tel" aria-describedby="firstname-help" pInputText [(ngModel)]="selectedUser.phoneNumber" />
            </div>
          </div>
          <div class="p-field p-md-6">
            <label for="email1">Email Address</label>
            <p *ngIf="!editMode">{{selectedUser.email}}</p>
            <input *ngIf="editMode" id="email1" name="email" type="email" aria-describedby="username1-help" pInputText [(ngModel)]="selectedUser.email" />
          </div>
        </div>
        <div class="p-field p-grid" *ngIf="!editMode">
          <div class="p-field p-md-6">
            <label>Role</label>
            <p-tag class="tag" value="{{selectedUser.role ? selectedUser.role.name : 'Others'}}"></p-tag>
          </div>
          <div class="p-field p-md-6">
            <label>Fallback Role</label>
            <p-tag class="tag" value="{{selectedUser.defaultRole ? 'Verified' : 'Not Verified'}}"></p-tag>
          </div>
        </div>

        <ng-container *ngIf="editMode">
          <div class="p-field p-grid">
            <div class="p-field p-md-8">
              <p class="p-mt-1">Make this role time bound</p>
            </div>
            <div class="p-field p-md-4">
              <p-inputSwitch name="switch" (onChange)="switch($event)" [(ngModel)]="selectedUser.tempRole" styleClass="p-inputtext-sm"></p-inputSwitch>
            </div>
          </div>

          <ng-container *ngIf="selectedUser.tempRole">
            <p class="p-mb-3">Set a duration this role should last</p>

            <div class="p-field p-grid">
              <div class="p-field p-md-6">
                <label for="edit_range">Set Duration</label>
                <p-calendar id="edit_range" [(ngModel)]="rangeDates" name="range" selectionMode="range" [readonlyInput]="true" [showIcon]="true" inputId="range" required></p-calendar>
              </div>
              <div class="p-field p-md-6">
                <label for="edit_fallback_role">Select a Fallback Role</label>
                <p-dropdown id="edit_fallback_role" [options]="roles" name="fallback_role" [autoDisplayFirst]="false" optionValue="name" [(ngModel)]="selectedUser.defaultRole" optionLabel="name" [showClear]="true" required></p-dropdown>
              </div>
            </div>

          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button *ngIf="!editMode" class="" label="Deactivate" styleClass="p-button-danger p-button-lg" (click)="showDeactivateDialog()"></p-button>
    <p-button styleClass="p-button-lg" (click)="editMode ? update(selectedUser, selectedUserIndex) : changeToEditMode()" label="{{editMode ? 'Save Changes' : 'Edit Details'}}" [icon]="isLoading ? 'pi pi-spin pi-spinner': ''" iconPos="right" [disabled]="editMode && isLoading"></p-button>
  </ng-template>
</p-dialog>


