<div class="menu-container p-d-flex p-flex-column p-ac-around">
  <div class="logo">
    <img src="../../../assets/img/Group42481.svg" alt="logo">
  </div>
  <div>
    <ul>
<!--      <li class="cursor">-->
<!--        <a>-->
<!--          <i class="pi pi-book icon"></i>-->
<!--          <span class="icon-label">Project</span>-->
<!--        </a>-->
<!--      </li>-->
      <li class="cursor" routerLink="/portal/users" routerLinkActive="active">
        <a>
          <i class="pi pi-users icon"></i>
          <span class="icon-label">Users</span>
        </a>
      </li>
      <li class="cursor" routerLinkActive="active" routerLink="/portal/inventory">
        <a>
          <i class="material-icons icon">build</i>
          <span class="icon-label">Inventory</span>
        </a>
      </li>
      <li class="cursor" routerLinkActive="active" routerLink="/portal/metadata">
        <a>
          <i class="pi pi-folder-open"></i>
          <span class="icon-label">Metadata</span>
        </a>
      </li>
      <li class="cursor" routerLinkActive="active" routerLink="/portal/roles">
        <a>
          <i class="pi pi-lock"></i>
          <span class="icon-label">Roles</span>
        </a>
      </li>
      <li class="cursor" routerLinkActive="active" routerLink="/portal/approval-chain">
        <a>
          <i class="material-icons icon">thumb_up_alt</i>
          <span class="icon-label p-text-center">Approval chain</span>
        </a>
      </li>
    </ul>
  </div>
</div>


